<mat-toolbar color="primary">
  <span id="title">{{title}}</span>
  <span class="menu-spacer"></span>
  <button mat-icon-button (click)="addToDo()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <mat-card *ngFor="let toDoItem of toDoItems" class="example-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <p> {{toDoItem.ToDoItem}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="editToDo(toDoItem)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="deleteToDo(toDoItem.Id)"><mat-icon>check</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>